html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
}

header, section, footer {
  padding: 2em;
  color: white;
}

header{
    opacity: .5;
    font-family: monospace;
    justify-content: center;
    background: black;
    height: 2.5%;
    display: flex;
}

header > h1{
    text-align: center;
    color: darkgrey;
    align-self: center;
}
    
section{
    flex: 1 0 auto;    
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: flex-start;
     -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.cell{
    background-color: grey;  
    opacity: .5;
    padding: 5px;
    width: 200px;
    height: 200px;
    margin-top: 2em;
    
    
}

footer{
    font-family: monospace;
    background: black;
}

a{
    color: greenyellow;
    text-decoration: none;
}

#footerItemRight{
    float: right;
}
